$mainBgColor: #d8d8d8;
$mainColor: #0c4c4c;
$mainColorHover: #07292B;
$ultraLightGray: #D9D9D9;
$ultraLightGrayOpacity: #d9d9d936;
$lightGray: #B7B7B7;
$yellow: #F7DE09;
$yellowHover: #c7b621;
$lightColor: #f0f0f0;
$focus: #007bff;
$focusShadow: #007bff3f;
$success: #00a51b;
$error: #d60000;

$bgGrandient: linear-gradient(360deg, #07292B 35.1%, #0E4B4F 63.92%, rgba(7, 41, 43, 0) 94.13%);
$bgGradient2: linear-gradient(90deg, #07292B 13.13%, #0E4B4F 121.74%);

$mobile: "320px";
$tablet: "800px";
$desktop: "1200px";