@import "../../../styles/scss/colors.scss";

.play-store {
    padding: 15px;
    display: flex;
    align-items: center;
    width: 200px;
    border: none;
    border-radius: 5px;
    height: 55px;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px; 

    p {
        margin: 0 !important;
        font-size: 0.9rem;
        font-weight: lighter;
        text-align: start;
        margin: 0px;

    }

    h4 {
        margin: 0;
        font-size: 1.4rem !important;
        font-weight: lighter;
        margin: 0px;

    }
}

.text-holder {
    margin-left: 10px;
    
}