@import "../../../styles/scss/colors.scss";

.form-card {
    padding: 35px 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;

    h1 {
        font-size: 1.3em;
        font-size: 600;
        color: #07292B;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}

.button-div-card {
    display: flex;
}

.form-card-link {
    color: $mainColor;
    text-decoration: none;
    font-weight: bold;
}

.form-card-error {
    margin-bottom: 30px;
}